@import "tailwindcss";

@theme {
  --color-brand-primary: var(--color-emerald-700);
  --color-brand-hover: var(--color-emerald-600);
  --color-brand-dark: var(--color-emerald-900);
  --color-brand-light: var(--color-emerald-50);
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}